<section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="title">
                    <h1>更多信息</h2>
                    <h2>About AED</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                            <h3 class="title">什么是AED</h3>
                            <p>AED是自动体外除颤器，是非专业人员使用的一种便携式医疗设备，能够自动检测心率，并通过快速电击让心跳从异常回复到正常。</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                            <h3 class="counter"><span id="secondo2" class="countup" cup-end="120">120</span>K</h3>
                            <p>Happy Users</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                            <h3 class="counter"><span id="secondo3" class="countup" cup-end="125">125</span>k+</h3>
                            <p>Downloads</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
