 <!-- Start Achievement Area -->
    <section class="our-achievement section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">About AED</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">关于AED，你需要了解什么！
                        </h2>
                
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                                <h3 class="title">AED</h3>
                                <p>自动体外除颤器，是非专业人员使用的一种便携式医疗设备。</p>
                                <li>
                                    自动检测心率
                                </li>
                                <li>
                                    通过快速电击让心跳从异常回复到正常
                                </li>
                                <li>
                                    AED配合心肺复苏共同使用可成倍提高心脏骤停的抢救成功率
                                </li>
                                   

                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                                <h3 class="title">院外急救流程</h3>
                                <p>非专业人员进行院外急救的流程</p>
                                <li>评估环境，保障安全，检查患者</li>
                                <li>如若无反应，第一时间拨打急救电话</li>
                                <li>尽快取来AED等急救设备</li>
                                <li>当发现患者没有呼吸，或仅有濒死呼吸时，立即对患者进行心肺复苏</li>
                                
                               
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                                <h3 class="title">北大AED的位置</h3>
                                <p> 如遇突发紧急情况，请及时呼叫校医院急诊62751919及120/999！</p>
                                <li>邱德拔体育馆前台接待处旁</li>
                                <li>第一体育馆内</li>
                                <li>校医院各楼层</li>
                                <p>其余AED信息，不断更新中。</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                                <h3 class="title">正确使用AED</h3>
                                <p>AED自带电池，打开之后就会有语音提示，按照提示进行一步一步简单的操作即可；AED主要针对心室颤动（或心室扑动）、无脉性室性心动过速这两种患者进行除颤。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!-- End Achievement Area -->
