<section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="title">
                    <h2 class="title">更多信息</h2>
                    <h2>About AED</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                            <h3 class="title">什么是AED</h3>
                            <p>AED是自动体外除颤器，是非专业人员使用的一种便携式医疗设备，能够自动检测心率，并通过快速电击让心跳从异常回复到正常。AED配合心肺复苏共同使用可成倍提高心搏骤停的抢救成功率。</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                            <h3 class="title">院外急救流程</h3>
                            <p>非专业施救者：</p>
                            <p>识别和启动应急反应系统</p>
                            <p>即时高质量心肺复苏</p>
                            <p>快速除颤</p>
                            <p>基础及高级急救医疗服务</p>
                            <p>高级生命维持和骤停后护理</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                            <h3 class="title">适用患者</h3>
                            <p>针对以下两种患者设计：</p>
                            <p>1.心室颤动（或心室扑动）</p>
                            <p>2.无脉性室性心动过速</p>
                            <p>除了以上所提的两种情形外，AED无法诊断其他各式各样的心律失常且无法提供治疗。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>