<section class="section call-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
                <div class="cta-content">
                    <h2 class="wow fadeInUp" data-wow-delay=".2s">北京大学自动体外除颤器培训项目
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s">每一名北京大学学生（本/硕/博）均可免费报名参与该项目<br>
                        通过参与线上下AED急救课程，完成最终考试可获得自动体外除颤器操作认证证书</p>
                    <div class="button wow fadeInUp" data-wow-delay=".6s">
                        <a href="javascript:void(0)" class="btn">点击报名</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
