 <!-- Start Features Area -->
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">Why Learn AED!</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">同学，该学AED了
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">AED是一种智能且便携的，可供非专业医务人员普通人使用的III类医疗器械，用于抢救因室颤、无脉性室速导致的心脏骤停。</p>
                        <p class="wow fadeInUp" data-wow-delay=".6s">它对人体的特定区域放电，使心脏恢复正常的心跳节律。</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-first-aid"></i>
                        <h3>心源性猝死</h3>
                        <h2>55万</h2>
                        <p>据国家心血管病中心发布报告中披露，中国每年心源性猝死的人数约55万，平均每天有1500人死于心脏骤停。</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-lock"></i>
                        <h3>院外心脏骤停</h3>
                        <h2>4分钟</h2>
                        <p>正常室温下，心脏骤停4分钟后脑细胞就会出现不可逆转的损害，所以在心源性猝死急救上有“黄金四分钟”之说。</p>
                        <p></p>
                        <p></p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-reload"></i>
                        <h3>提高存活率</h3>
                        <h2>50-70%</h2>
                        <p>针对心脏骤停者，如果在1分钟内实施CPR，3-5分钟内进行AED除颤，可使心脏骤停患者存活率达到50%-70%。</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-cog"></i>
                        <h3>北大AED</h3>
                        <h2>N台</h2>
                        <p>北京大学与中国红十字会共同计划在北大校园内装配N台AED设备，保证校
                            园学生、教职工等所有工作人员的生命安全。</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-layers"></i>
                        <h3>免费参与</h3>
                        <h2>0元</h2>
                        <p>北京大学校医院联合红十字会为北大学生提供免费、专业的急救培训线下课程，快来点击注册预约线下活动吧！</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-shield"></i>
                        <h3>学习者</h3>
                        <h2>99位</h2>
                        <p>已有99位同学进行了该网站的注册学习。一起来获取急救专业证书，进阶急救达人，维护生命安全</p>
                    </div>
                    <!-- End Single Feature -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->
