<section id="home" class="hero-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="hero-content">
                    <h1 class="wow fadeInLeft" data-wow-delay=".4s">每楼一个AED!</h1>
                    <p class="wow fadeInLeft" data-wow-delay=".6s">每一位北大同学在遇到紧急情况时，都能获得同学的互助，让生命继续绽放。</p>
                    <p>北京大学校医院宣。</p>
                    <div class="button wow fadeInLeft" data-wow-delay=".8s">
                        <a href="javascript:void(0)" class="btn"><i class="lni lni-game"></i> 游戏化体验 AED</a>
                        <a href="javascript:void(0)" class="btn btn-alt"><i class="lni lni-book"></i>学习 AED</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                    <img src="assets/images/hero/aed.png" alt="aed">
                </div>

            </div>
        </div>
    </div>
</section>
