<!-- Start features Area -->
    <section id="news" class="news section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">AED要闻
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">了解更多</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <i class="lni lni-first-aid"></i>
                        <h3>2022年5月24日</h3>
                        <h2>新闻标题</h2>
                        <p>新闻具体内容新闻具体内容新闻具体内容。</p>
                    </div>
                    <!-- End Single feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                        <i class="lni lni-sheild"></i>
                        <h3>2022年5月24日</h3>
                        <h2>新闻标题</h2>
                      <p>新闻具体内容新闻具体内容新闻具体内容。</p>
                    </div>
                    <!-- End Single feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                        <i class="lni lni-reload"></i>
                        <h3>2022年5月24日</h3>
                        <h2>新闻标题</h2>
                        <p>新闻具体内容新闻具体内容新闻具体内容。</p>
                    </div>
                    <!-- End Single feature -->
                </div>
            </div>

        </div>
    </section>
    <!-- End features Area -->
