<!-- Start features Area -->
    <section id="news" class="news section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3 class="wow zoomIn" data-wow-delay=".2s">News</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">AED要闻
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">了解更多</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                        <h3>2021年10月3日</h3>
                        <h2>北京地铁公司所辖318座车站实现AED全覆盖</h2>
                        <p> 在2020年完成1500名员工急救培训的基础上，2021年已完成初级急救员培训2852人，实现每站每个班组均有三人具备AED使用资质。</p>
                    </div>
                    <!-- End Single feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                        <h3>2022年5月31日</h3>
                        <h2>民警用AED紧急救治倒地女子</h2>
                      <p>因遛狗纠纷一女子情绪激动忽然倒地，民警用AED紧急救治挽回其生命。</p>
                    </div>
                    <!-- End Single feature -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single feature -->
                    <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                        <h3>2022年6月10日</h3>
                        <h2>迈瑞医疗配置的AED设备已挽救多人生命</h2>
                        <p>中山大学深圳校区医学院一名作业工人因不慎触电失去意识和呼吸，被学生用AED成功挽救生命。</p>
                    </div>
                    <!-- End Single feature -->
                </div>
            </div>

        </div>
    </section>
    <!-- End features Area -->
