<section id="pricing" class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">团队成员</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h3 class="title">苏卓民</h3>
                        <div class="hero-image wow fadeInRight" data-wow-delay=".2s">
                    <img src="assets/images/hero/aed.png" alt="aed">
                             </div>
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h3 class="title">陈珍珍</h3>
                        <div class="hero-image wow fadeInRight" data-wow-delay=".4s">
                    <img src="assets/images/hero/aed.png" alt="aed">
                             </div>
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h3 class="title">周博仁</h3>
                        <div class="hero-image wow fadeInRight" data-wow-delay=".6s">
                    <img src="assets/images/hero/zbr.jpeg" alt="zbr">
                             </div>
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".8s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h3 class="title">福岛裕翔</h3>
                        <div class="hero-image wow fadeInRight" data-wow-delay=".8s">
                    <img src="assets/images/hero/fukushima.jpeg" alt="fukushima">
                             </div>
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
                </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay="1.0s">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h3 class="title">刘若雨</h3>
                        <div class="hero-image wow fadeInRight" data-wow-delay="1.0s">
                    <img src="assets/images/hero/aed.png" alt="aed">
                             </div>
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
        </div>
    </div>
</section>
